/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    /*margin-bottom: 165px;*/
}
.footer {
    /*position: absolute;*/
    /*bottom: 0;*/
    width: 100%;
    /* Set the fixed height of the footer here */
    height: auto;
    padding-top: 10px;
    color:#fff;
}

@media (min-width:751px){
  .footer-icon-list {
    text-align: right
  }
}

@media (max-width:750px){
  .footer-icon-list {
     margin-top: 8px;
     margin-left: -4px;
  }
}
