.indent-list {
    padding-left: 18px;
}

.sub-title {
    font-weight: 700;
    margin-bottom: 5px;
}

.service-image {
    width:150px;
    height:150px;
}

@media (max-width: 850px) {
  .service-image {
      width:100px;
      height:100px;
  }
}

@media (max-width: 750px) {
    .service-list-top-buffer {
        margin-top:20px;
    }
}

.index-map {
  border: 0;
  width: 100%;
  height: 450px;
}

@media (max-width: 800px) {
  .index-map {
    height: 250px;
  }
}
