.navbar-nav > li {
  padding-left: 10px;
}

.navbar-default .navbar-nav>li>a {
  color: #660000;
  background: #ffccb3;
}

@media (max-width: 850px) {
  .menu-title {
     display: inline-block; 
     margin: 15px;
  }
}
