.navbar-nav > li {
  padding-left: 10px;
}

.navbar-default .navbar-nav>li>a {
  color: #660000;
  background: #ffccb3;
}

.navbar-header .menu-title {
  display: none;
}

@media (max-width: 750px) {
  .navbar-header .menu-title {
     display: inline-block; 
     margin: 15px;
  }
}
