.top-buffer {
    margin-top: 20px;
}

/* 針對文章內img過大的暫時修正方法 */
p > img {
    display: block;
    max-width: 100%;
    height: auto;
}

@font-face {
    font-family: Microsoft JhengHei;
    src: url(microsoft-jhenghei.woff);
}

h3{
   background: linear-gradient(to right,#ffe3c2 ,#fff3e5);
   padding:10px;
   margin:0;
   color:#512c02;
   font-weight: 900;
}

body {
  font-family: "Microsoft JhengHei","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #fff3e5;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size:cover;
  font-size: 16px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
}
