<footer class="footer">
	<div class="container">
		<div style="background-color: #000; opacity: 0.75; padding:30px;">
			<div class="row">
				<div class="col-sm-6">
					<div style="margin-bottom: 5px"><b>社團法人中華慈雲慈善利生推廣協會</b></div>
					<div><b>會址</b> : 11149台北市士林區平等里平菁街95巷47號之2</div>
					<div><b>連絡電話</b> : (02)-28620012 , (02)-28610043 傳真 : (02)-28621852</div>
					<div><b>Email</b> : fayu991010@gmail.com</div>
					<div><b>辦事處</b> : 23857新北市樹林區八德街90號2樓(法雨講堂)</div>
					<div><b>聯絡電話</b> : (02)-86845058 傳真電話 : (02)-86845028</div>
				</div>
				<div class="col-sm-6">
					<div class="footer-icon-list">
						<a href="https://www.facebook.com/CnCiYunCorp.CSociety.for.thePromotionofSattva/?__mref=message"><img
								src="/images/fb.png" style="width:70px; height:70px; margin:5px;"></a>
						<a href="mailto:fayu991010@gmail.com"><img src="/images/email.png"
																   style="width:70px; height:70px; margin:5px; border-radius: 5px;"></a>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 10px; margin-bottom: 20px">
				<div class="col-md-12">
					© 2016 社團法人中華慈雲慈善利生推廣協會 版權所有
				</div>
			</div>
		</div>


	</div>
</footer>
