{% if page.url contains "origin" %} {% assign is_origin = 'active' %} {% endif %}
{% if page.url contains "news" %} {% assign is_news = 'active' %} {% endif %}

<header class="zerogrid">
  <div class="logo"><a href="/index.html"><img src="/images/logo.png"></a></div>
  <div id="cssmenu" class="align-center">
    <ul>
      <li class="{{ is_origin }} has-sub"><a href="/origin"><span>關於本會</span></a>
        <ul >
          <li><a href="/origin"><span>本會緣起</span></a></li>
          <li><a href="/origin/purpose"><span>本會宗旨與願景</span></a></li>
          <li><a href="/origin/regulation"><span>本會組織章程</span></a></li>
          <li class=" has-sub"><a href="/origin/architecture"><span>本會組織架構</span></a>
            <ul>
              <li><a href="/origin/currentSupervisor"><span>現任理監事</span></a></li>
              <li><a href="/origin/formerlySupervisor"><span>歷任理監事</span></a></li>
            </ul>
          </li>
          <li><a href="/origin/chronicle"><span>本會大事紀</span></a></li>
        </ul>
      </li>

      <li class="{{ is_news }}"><a href="/news"><span>最新公告</span></a></li>

      <li class="has-sub"><a href="#"><span>活動報導</span></a>
        <ul >
          <li><a href="#"><span>機構關懷</span></a></li>
          <li><a href="#"><span>慈善濟助</span></a></li>
          <li><a href="#"><span>施棺捐贈</span></a></li>
        </ul>
      </li>

      <li class="has-sub"><a href="#"><span>中華慈雲志工隊</span></a>
        <ul >
          <li><a href="#"><span>組織章程</span></a></li>
          <li><a href="#"><span>教育訓練</span></a></li>
          <li><a href="../recruit"><span>招募志工</span></a></li>
          <li><a href="#"><span>志工園地</span></a></li>
        </ul>
      </li>

      <li class="has-sub"><a href="#"><span>捐款徵信</span></a>
        <ul >
          <li><a href="#"><span>捐款徵信</span></a></li>
          <li><a href="../barcode"><span>愛心碼發票</span></a></li>
          <li><a href="../donation"><span>捐款方式</span></a></li>
        </ul>
      </li>

      <li class="has-sub"><a href="#"><span>教育訓練</span></a>
        <ul >
          <li><a href="#"><span>志願服務基礎訓練</span></a></li>
          <li><a href="#"><span>志願服務特殊訓練</span></a></li>
          <li><a href="../careWorkerTraining"><span>照顧服務員職業訓練</span></a></li>
        </ul>
      </li>

      <li><a href="#"><span>加入本會</span></a></li>

      <li class="has-sub"><a href="#"><span>影音專區</span></a>
        <ul >
          <li><a href="/media/album"><span>電子相簿</span></a></li>
          <li><a href="/media/video"><span>影音撥放</span></a></li>
        </ul>
      </li>

    </ul>
  </div>
</header>
