{% if page.url contains "origin" %} {% assign is_origin = 'active' %} {% endif %}
{% if page.url contains "news" %} {% assign is_news = 'active' %} {% endif %}
{% if page.url contains "activityReport" %} {% assign is_activityReport = 'active' %} {% endif %}
{% if page.url contains "volunteer" %} {% assign is_volunteer = 'active' %} {% endif %}
{% if page.url contains "donation" %} {% assign is_donation = 'active' %} {% endif %}
{% if page.url contains "training" %} {% assign is_training = 'active' %} {% endif %}
{% if page.url contains "media" %} {% assign is_media = 'active' %} {% endif %}
{% if page.url contains "service" %} {% assign is_service = 'active' %} {% endif %}
{% if page.url contains "stronghold" %} {% assign is_stronghold = 'active' %} {% endif %}

<div class="row">
    <div class="col-md-12">
        <a href="https://donate.spgateway.com/中華慈雲慈善利生推廣協會/愛心捐款">
            <img style="position: absolute; width: 200px; height: 40px;" class="img-responsive img-rounded" src="/images/donateLogo.png">
        </a> 
        <a href="https://core.spgateway.com/Period/tytca/F4T7Uv">
            <img style="position: relative; width: 200px; height: 70px; top: 40px; margin-bottom: 40px;" src="/images/donateLogo_2.png">
        </a>  
        <a href="http://www.hitwebcounter.com" target="_blank" class="pull-right">
            <img src="http://hitwebcounter.com/counter/counter.php?page=6714926&style=0006&nbdigits=9&type=page&initCount=6700" title="webs counters" Alt="webs counters" border="0" >
        </a>
        <br/><br/>         
        <a href="/index.html"><img class="img-responsive img-rounded" src="/images/header.jpg"></a>
    </div>
</div>

<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="menu-title">網頁導覽</span>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="/index.html">中華慈雲</a>-->
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px; padding: 0">
            <ul class="nav navbar-nav" style="margin-left: -15px">
                <li class="{{is_origin}} dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">關於本會 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/origin/">本會緣起</a></li>
                        <li><a href="/origin/purpose">本會的宗旨、任務與願景</a></li>
                        <li><a href="/origin/regulation">本會組織章程</a></li>
                        <li><a href="/origin/architecture/">本會組織架構</a></li>
                        <li><a href="/origin/items"><span>本會服務項目</span></a></li>
                        <li><a href="/origin/chronicle"><span>本會大事記</span></a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">本會組織架構</li>
                        <li><a href="/origin/currentSupervisor">現任理監事</a></li>
                        <li><a href="/origin/formerlySupervisor">歷任理監事</a></li>
                    </ul>
                </li>

                <li class="{{is_news}}"><a href="/news">最新公告</a></li>
                
                <li class="{{is_stronghold}} dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">慈雲關懷據點 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/stronghold/strongholdVolunteer"><span>「慈雲關懷據點」招募志工</span></a></li>
                        <li><a href="/stronghold"><span>20180108-慈雲關懷據點健康促進及共餐活動剪影</span></a></li>
                        <li><a href="/stronghold/107oldMan"><span>20180122-老人健康促進活動</span></a></li>
                        <li><a href="/media/album/20180122-慈雲關懷據點健康促進及共餐活動"><span>20180122-慈雲關懷據點健康促進及共餐活動剪影</span></a></li>
                        <li><a href="/stronghold/1070205oldMan"><span>20180205-老人健康促進及共餐活動</span></a></li>
                        <li><a href="/media/album/20180205-慈雲關懷據點健康促進及共餐活動"><span>20180205-慈雲關懷據點健康促進及共餐活動剪影</span></a></li>
                        <li><a href="/media/album/20180305-慈雲關懷據點健康促進及共餐活動"><span>20180305-慈雲關懷據點健康促進及共餐活動剪影</span></a></li>
                        <li><a href="/media/album/20180319-慈雲關懷據點健康促進及共餐活動"><span>20180319-慈雲關懷據點健康促進及共餐活動剪影</span></a></li>
                        <li><a href="/media/album/20180402-慈雲關懷據點健康促進及共餐活動"><span>20180402-慈雲關懷據點健康促進及共餐活動剪影</span></a></li>
                        <li><a href="/media/album/20180409-慈雲關懷據點健康促進及共餐活動"><span>20180409-慈雲關懷據點健康促進及共餐活動剪影</span></a></li>
                        <li><a href="/media/album/20180416-慈雲關懷據點健康促進及共餐活動"><span>20180416-慈雲關懷據點健康促進及共餐活動剪影</span></a></li>
                        <li><a href="/media/album/20180423-慈雲關懷據點健康促進及共餐活動"><span>20180423-慈雲關懷據點健康促進及共餐活動剪影</span></a></li>
                        <li><a href="/media/album/20180430-慈雲關懷據點健康促進及共餐活動"><span>20180430-慈雲關懷據點健康促進及共餐活動剪影</span></a></li>
                        <li><a href="/media/album/20180507-慈雲關懷據點健康促進及共餐活動"><span>20180507-慈雲關懷據點健康促進及共餐活動剪影</span></a></li>
                        <li><a href="/media/album/20180514-慈雲關懷據點健康促進及共餐活動"><span>20180514-慈雲關懷據點健康促進及共餐活動剪影</span></a></li>
                        <li><a href="/media/album/20180521-慈雲關懷據點健康促進及共餐活動"><span>20180521-慈雲關懷據點健康促進及共餐活動剪影</span></a></li>
                        <li><a href="/media/album/20180528-慈雲關懷據點健康促進及共餐活動"><span>20180528-慈雲關懷據點健康促進及共餐活動剪影</span></a></li>
                        <li><a href="/media/album/20180604-慈雲關懷據點健康促進及共餐活動"><span>20180604-慈雲關懷據點健康促進及共餐活動剪影</span></a></li>
                        <li><a href="/media/album/20180625-慈雲關懷據點健康促進及共餐活動"><span>20180625-慈雲關懷據點健康促進及共餐活動剪影</span></a></li>
                        <li><a href="/media/album/20180703-慈雲關懷據點健康促進及共餐活動"><span>20180703-慈雲關懷據點健康促進及共餐活動剪影</span></a></li>
                        <li><a href="/media/album/20180723-慈雲關懷據點健康促進及共餐活動"><span>20180723-慈雲關懷據點健康促進及共餐活動剪影</span></a></li>
                        <li><a href="/media/album/20180730-慈雲關懷據點健康促進及共餐活動"><span>20180730-慈雲關懷據點健康促進及共餐活動剪影</span></a></li>
                        <li><a href="/media/album/20180806-慈雲關懷據點健康促進及共餐活動"><span>20180806-慈雲關懷據點健康促進及共餐活動剪影</span></a></li>
                        <li><a href="/media/album/20180813-慈雲關懷據點健康促進及共餐活動"><span>20180813-慈雲關懷據點健康促進及共餐活動剪影</span></a></li>
                        <li><a href="/media/album/20180827-慈雲關懷據點健康促共餐及13期照服員甄試"><span>20180827-慈雲關懷據點健康促共餐及13期照服員甄試剪影</span></a></li>
                        
                    </ul>
                </li>
                
                <li class="{{is_service}}"><a href="/service">服務項目</a></li>

                <li class="{{is_activityReport}} dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">活動報導 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!-- <li><a href="#"><span>機構關懷</span></a></li> -->
                        <li><a href="/activityReport/relief"><span>「霧峰教養家園」參訪公告</span></a></li>
                        <li><a href="/media/album/20170318-坪頂古圳淨山活動"><span>20170318-坪頂古圳淨山活動剪影</span></a></li>
                        <li><a href="/media/album/20170520-霧峰教養家園關懷之旅"><span>20170520-霧峰教養家園關懷之旅剪影</span></a></li>
                        <li><a href="/media/album/20170525-新北市照顧服務員訓練班第七期活動剪影"><span>20170525-新北市照顧服務員訓練班第七期活動剪影</span></a></li>
                        <li><a href="/media/album/20170630-新北市照顧服務員訓練第八期活動剪影"><span>20170630-新北市照顧服務員訓練第八期活動剪影</span></a></li>
                        <li><a href="/media/album/20171223-106年度冬令救濟活動"><span>20171223-106年度冬令救濟活動剪影</span></a></li>
                        <li><a href="/activityReport/1070324台北市永福之家參訪公告"><span>台北市永福之家參訪公告</span></a></li>
                        <li><a href="/media/album/20180310-107年度春節團拜暨會員大會"><span>20180310-107年度春節團拜暨會員大會剪影</span></a></li>
                        <li><a href="/media/album/2019年04月照服員第7期課程"><span>2019年04月照服員第7期課程</span></a></li>
                        <li><a href="/media/album/2019年07月照服員第8期課程相片"><span>2019年07月照服員第8期課程相片</span></a></li>
                        <li><a href="/media/album/2019年11月25日銀髮俱樂部揭牌活動"><span>2019年11月25日銀髮俱樂部揭牌活動</span></a></li>
                        <li><a href="/media/album/2019年12月01日冬令救濟活動"><span>2019年12月01日冬令救濟活動</span></a></li>
                        
                        <!-- <li><a href="#"><span>施棺捐贈</span></a></li> -->
                    </ul>
                </li>

                <li class="{{is_volunteer}} dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">中華慈雲志工隊 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/volunteer"><span>組織章程</span></a></li>
                        <!-- <li><a href="#"><span>教育訓練</span></a></li> -->
                        <li><a href="/volunteer/recruit"><span>招募志工</span></a></li>
                        <!-- <li><a href="#"><span>志工園地</span></a></li> -->
                    </ul>
                </li>

                <li class="{{is_donation}} dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">捐款徵信 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!-- <li><a href="#"><span>捐款徵信</span></a></li> -->
                        <li><a href="/donation/barcode"><span>愛心碼發票</span></a></li>
                        <li><a href="/donation/donation"><span>捐款方式</span></a></li>
                        <li><a href="/donation/donationCoffins"><span>捐棺助葬</span></a></li>
                        <li><a href="/donation/childAdoption"><span>偏鄉兒童認養</span></a></li>
                        <li><a href="/donation/106detail"><span>106年1~2月捐款明細表</span></a></li>
                        <li><a href="/donation/1060306detail"><span>106年3~6月捐款明細表</span></a></li>
                        <li><a href="/donation/1060712detail"><span>106年7-12月捐款明細表</span></a></li>
                        <li><a href="/donation/1070109detail"><span>107年1-9月捐款明細表</span></a></li>
                        <li><a href="/donation/1071012detail"><span>107年10-12月捐款明細表</span></a></li>
                        <li><a href="/donation/1080926detail"><span>108年01-06月捐款明細表</span></a></li>
                        <li><a href="/donation/1080712detail"><span>108年07-12月捐款明細表</span></a></li>
                        
                        
                    </ul>
                </li>
                
                <li class="{{is_training}} dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">教育訓練 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
<!--                         <li><a href="#"><span>志願服務基礎訓練</span></a></li>
                        <li><a href="#"><span>志願服務特殊訓練</span></a></li>
                        <li><a href="/training/careWorkerTraining"><span>新北市照顧服務員第八期招生公告</span></a></li>
                        <li><a href="/training/106careWorkerTraining"><span>106下半年照服員訓練專班招生海報</span></a></li>
                        <li><a href="/training/1061020careWorkerTraining"><span>新北市照顧服務員訓練專班報名日期延期公告</span></a></li>
                        <li><a href="/training/106-5careWorkerTraining"><span>106年度新北市照顧服務員專班第5班簡章</span></a></li> -->
<!--                    <li><a href="/training/107careWorkerTraining/"><span>107年新北市照顧服務員第四期招生海報</span></a></li>
                        <li><a href="/training/107年度照顧服務員職前訓練招生簡章/"><span>107年度照顧服務員職前訓練招生簡章</span></a></li> -->
                        <li><a href="/training/policy/"><span>訓練政策</span></a></li>
                        <li><a href="/training/promise/"><span>訓練承諾</span></a></li>
                        <li><a href="/training/107年新北市照顧服務員第13期招生海報與簡章/"><span>107年新北市照顧服務員第13期招生海報與簡章</span></a></li>
                        <li><a href="/training/108年度照顧服務員職前訓練招生海報與簡章/"><span>108年度照顧服務員職前訓練招生海報與簡章</span></a></li>
                        <li><a href="/training/108年新北市照顧服務員第12期開始招生/"><span>108年新北市照顧服務員第12期招生海報與簡章</span></a></li>
                        <li><a href="/training/109年照顧服務員訓練專班招生海報與簡章/"><span>109年照顧服務員訓練專班招生海報與簡章</span></a></li>
                        
                    
                    </ul>
                </li>

                <!-- <li><a href="#"><span>加入本會</span></a></li> -->

                <li class="{{is_media}} dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">影音專區 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/media/album_list"><span>電子相簿</span></a></li>
                        <li><a href="/media/video"><span>影音撥放</span></a></li>
                        <li><a href="/media/newsletter"><span>電子報</span></a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
            </ul>

        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
