<header class="zerogrid">
  <div class="logo"><img src='images/logo.png'></div>
  <div id='cssmenu' class="align-center">
    <ul>
      <li class="active has-sub"><a href='index.html'><span>關於本會</span></a>
        <ul >
          <li><a href='pages/origin.html'><span>本會緣起</span></a></li>
          <li><a href='#'><span>本會宗旨與願景</span></a></li>
          <li><a href='#'><span>本會組織章程</span></a></li>
          <li class='has-sub'><a href='#'><span>本會組織架構</span></a>
            <ul>
              <li><a href='#'><span>現任理監事</span></a></li>
              <li><a href='#'><span>歷任理監事</span></a></li>
            </ul>
          </li>
          <li><a href='#'><span>本會大事紀</span></a></li>
        </ul>
      </li>

      <li><a href='#'><span>最新公告</span></a></li>

      <li class='has-sub'><a href='#'><span>活動報導</span></a>
        <ul >
          <li><a href='#'><span>機構關懷</span></a></li>
          <li><a href='#'><span>慈善濟助</span></a></li>
          <li><a href='#'><span>施棺捐贈</span></a></li>
        </ul>
      </li>

      <li class='has-sub'><a href='#'><span>中華慈雲志工隊</span></a>
        <ul >
          <li><a href='#'><span>組織章程</span></a></li>
          <li><a href='#'><span>教育訓練</span></a></li>
          <li><a href='#'><span>招募志工</span></a></li>
          <li><a href='#'><span>志工園地</span></a></li>
        </ul>
      </li>

      <li class='has-sub'><a href='#'><span>捐款徵信</span></a>
        <ul >
          <li><a href='#'><span>捐款徵信</span></a></li>
          <li><a href='#'><span>愛心碼發票</span></a></li>
          <li><a href='#'><span>捐款方式</span></a></li>
        </ul>
      </li>

      <li class='has-sub'><a href='#'><span>教育訓練</span></a>
        <ul >
          <li><a href='#'><span>志願服務基礎訓練</span></a></li>
          <li><a href='#'><span>志願服務特殊訓練</span></a></li>
          <li><a href='#'><span>照顧服務員職業訓練</span></a></li>
        </ul>
      </li>

      <li><a href='#'><span>加入本會</span></a></li>

      <li><a href='#'><span>影音專區</span></a></li>

    </ul>
  </div>
</header>
